div.card.snapshot {
    box-sizing: border-box;
    vertical-align: middle;
}

p.userName {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0px;
    text-align: left;
    padding-bottom: 8px;
}

div.componentStatus {
    display: block;
    width: 100%;
    text-align: left;
}

p.componentStatusFaded {
    display: inline;
    color: var(--text-secondary-color);
}

p.snapshotDatetime {
    font-size: 20px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0px;
}