.card.logs {
    box-sizing: border-box;
    /* user-select: none; */
    padding: 10px;
    margin: 20px;
    height: auto;
    width: auto;
    white-space: pre-wrap;
    display: block;
}

div.logsCardClose {
    text-align: right;
}

p.logDatetime {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: left;
}

.logContent {
    white-space: pre-wrap;
    /* Учитывает переносы строк и пробелы в тексте */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    /* Показывать только одну строку */
    -webkit-box-orient: vertical;
    transition: -webkit-line-clamp 0.3s ease;
}

.logContentPicked {
    white-space: pre-wrap;
    user-select: text;
    /* Учитывает переносы строк и пробелы в тексте */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: -webkit-line-clamp 0.3s ease;
    -webkit-line-clamp: unset;
    /* Убирает ограничение по строкам при наведении */
}