SECRET_KEY = 'some_secret'
JWT_SECRET_KEY = 'some_jwt_secret'
# Требуется HTTPS, ставить True только в проде
REFRESH_TOKEN_COOKIE_SECURE = False
LOG_LEVEL = 'info'

# имя или ip адрес хоста с postgres без указания протокола
POSTGRES_HOST = "sp-postgres"
POSTGRES_PORT = "5432"
POSTGRES_DB = "sp-db"
POSTGRES_USER = "sp-db-user"
POSTGRES_PASSWORD = "sp-db-password"

DTRACK_URL = "http://dependency-track.example:8081"
DTRACK_API_KEY = "dependency_track_api_key"

LDAP_SERVER = 'ldap_url'
LDAP_USER = 'user'
LDAP_PASSWORD = 'password'
LDAP_USER_CN = 'CN=...,OU=...,DC=...,DC=...'
SEARCH_USER_CATALOG = 'OU=...'
SEARCH_BASE = 'DC=...,DC=...'