:root {

    --accent-color: #379afd;
    --text-accent-color: #ffffff;

    --hover-color: #6e8399;
    --text-hover-color: #ffffff;

    --navbar-color: #f1f1f1;
    --main-background-color: #ffffff;
    --text-main-color: #000000;

    --neutral-button-color: #c0c0c0;
    --text-button-color: #000000;

    --card-background-color: #ffffff;
    --card-background-hover-color: #d6d9dde3;
    --card-background-picked-color: #4caf4f18;
    --text-secondary-color: #566474;
    --border-color: #b0b6b8;
    --border-picked-color: #316634;

    --error-background: #e25d53;
    --error-text-color: #3b0404;
    --warning-background: #e9d051;
    --warning-text-color: #201c03;
    --info-background: #7195a0;
    --info-text-color: #ffffff;
    --success-background: #a8fca9;
    --success-text-color: #000000;

    --strong-text-color: #357237;
    --disabled-color: #b0b6b8;
    --scrollbar-thumb-color: #acacac;
    --scrollbar-thumb-hover-color: #4caf4f7c;
    --scrollbar-thumb-active-color: #4CAF50;

}

*:not(svg *) {
    color: var(--text-main-color);
}

/* * {
    color: var(--text-main-color);
} */

.filterIconStyle {
    color: var(--accent-color);
    width: 40px;
    height: 40px;
}

.standCardWarningIcon {
    color: var(--error-background);
    width: 40px;
    height: 40px;
}

.externalLinkIconStyle {
    color: var(--accent-color);
    width: 28px;
    height: 28px;
}

.externalLinkIconStyle:active {
    box-shadow: 0 1px 2px 0 var(--accent-color);

}

strong {
    color: var(--strong-text-color);
}

input {
    outline: none;
    font-size: large;
    background-color: var(--main-background-color);
    border: solid 2px var(--border-color);
    padding: 4px;
    border-radius: 10px;
}

input:focus {
    border: solid 2px var(--border-picked-color);
    box-sizing: border-box;
}

select {
    outline: none;
    font-size: large;
    background-color: var(--main-background-color);
    border: solid 2px var(--border-color);
}

select:focus {
    border: solid 3px var(--border-picked-color);
    box-sizing: border-box;
}

textarea {
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    background-color: var(--main-background-color);
    border: solid 2px var(--border-color);
    box-sizing: border-box;
}

textarea:focus {
    border: solid 2px var(--border-picked-color);
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: 15px;
    background-color: var(--main-background-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-thumb-active-color);
}

.card {
    cursor: pointer;
    user-select: none;
    padding: 10px;
    margin: 12px;
    height: auto;
    width: auto;
    border: solid 2px var(--border-color);
    border-radius: 12px;
    background-color: var(--main-backgrounds-color);
}

.card:hover {
    background-color: var(--card-background-hover-color);
}

.card.picked {
    border: 3px solid var(--border-picked-color);
    background-color: var(--card-background-picked-color);
    cursor: auto;
}

.card:active {
    box-shadow: 0 2px 6x rgba(0, 0, 0, 0.10), 0 1px 3px var(--accent-color);
    transform: scale(0.99);
    box-sizing: border-box;
}

*.error-colors {
    color: var(--error-text-color);
    background-color: var(--error-background);
}

*.warning-colors {
    color: var(--warning-text-color);
    background-color: var(--warning-background);
}

*.info-colors {
    color: var(--info-text-color);
    background-color: var(--info-background);
}

*.success-colors {
    color: var(--success-text-color);
    background-color: var(--success-background);
}

*.disabled {
    color: var(--disabled-color);
}