.binaryCard { 
    vertical-align: middle; 
    padding: 10px; 
    cursor: pointer;
    user-select: none; 
    border: solid 3px #afafaf; 
    border-radius: 10px; 
    margin: 20px; 
    height: auto; 
    white-space: pre-wrap;
}

div.binaryCardClose{
    text-align: right;
}

.binaryCardPicked {
    vertical-align: middle;
    padding: 10px;
    cursor: text;
    border: solid 3px rgb(34, 34, 34);
    border-radius: 10px;
    margin: 20px;
    height: auto;
    background-color: #e4e4e4;
}

.binaryCard:hover {
    background-color: #f1f1f1;
    border: solid 3px #474747;
}

.binaryCardPicked:hover {
    background-color: #f1f1f1;
    border: solid 3px #474747;
}

p.binaryDatetime { 
    font-size: 16px; 
    font-weight: 500; 
    margin-top: 0; 
    margin-bottom: 0px; 
    text-align: left; 
}

.binaryContent {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    transition: -webkit-line-clamp 0.3s ease;
}

.binaryContentPicked {
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    transition: -webkit-line-clamp 0.3s ease;
    -webkit-line-clamp: unset;  
}

p.binaryFaded {
    display: inline;
    color: rgba(0, 0, 0, 0.61);
}