div.colorSchemeIcons {
    color: var(--border-color);
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    /* margin-left: 30px;
    margin-right: 10px; */
    height: 100%;
}

.colorSchemeIcons:hover {
    color: var(--text-main-color);
}

.colorSchemeIconStyle {
    color: inherit;
    width: 35px;
    height: 35px;
}