div.card.component {
    box-sizing: border-box;
    vertical-align: middle;
}

div.componentStatus {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
}

p.componentStatusFaded, p.componentLicenseFaded {
    display: inline;
    color: var(--text-secondary-color);
}