.componentCard {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border: solid 3px #afafaf;
    border-radius: 10px;
    margin: 10px;
    height: 65px;
}

.componentCardPicked {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border: solid 3px rgb(34, 34, 34);
    border-radius: 10px;
    margin: 10px;
    height: 65px;
    background-color: #e4e4e4;
}
.componentCard:hover {
    background-color: #f1f1f1;
    border: solid 3px #474747;
}


p.componentName {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0px;
}

div.componentName {
    display: block;
    width: 100%;
    text-align: left;
    padding-bottom: 5px;
}
div.componentStatus {
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 4px;
}

p.componentStatusFaded {
    display: inline;
    color: rgba(0, 0, 0, 0.61);
}

p.componentLicenseFaded {
    margin-left: 20px;
    display: inline;
    color: rgba(0, 0, 0, 0.61);
}