div.baseSidebar {
    background-color: var(--navbar-color);
    float: left;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: 12%;
    box-sizing: border-box
}

div.baseSidebar.collapsed {
    width: 3.5%;
}

div.baseContent {
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding-left: 1px;
    background-color: var(--main-background-color);
    width: 88%;
}

div.baseContent.collapsed {
    width: 96%;
}

div.baseUserName {
    font-size: 20px;
    user-select: none;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

nav.baseSidebar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

nav.baseSidebar.collapsed>* {
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    text-align: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.baseHref {
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    color: var(--text-main-color);
}

.baseHref:hover {
    background-color: var(--hover-color);
    color: var(--text-hover-color);
}

.baseHref:hover .baseSidebarTextDiv {
    visibility: visible;
}

.baseSidebarExpandContainer {
    width: 100%;
    height: 4%;
    box-sizing: border-box;
    user-select: none;
    color: var(--text-main-color);
    display: flex;
    flex-direction: row;
    margin-top: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.baseSidebarExpandContainer:hover {
    background-color: var(--hover-color);
    color: var(--text-hover-color);
}

.baseSidebarTextDiv {
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    left: 100%;
    height: 100%;
    z-index: 100;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 3em;
    border-radius: 0 1em 1em 0;
    background-color: inherit;
    color: inherit;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
}

.baseHref.active {
    background-color: var(--accent-color);
    color: var(--text-hover-color);
}

div.baseHrefText {
    color: inherit;
    box-sizing: border-box;
    width: 100%;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 10%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.baseHeader {
    background-color: var(--navbar-color);
    display: flex;
    width: 100%;
    height: 5%;
    float: right;
    align-items: center;
    justify-content: right;
    gap: 15px;
    box-sizing: border-box;
}

div.baseBody {
    height: 95%;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

span.baseHeader {
    margin-right: 1%;
    font-size: large;
}

.baseSidebarIcon {
    width: 50%;
    height: 50%;
    color: inherit;
}

.baseSidebarExpandIcon {
    height: 90%;
    color: inherit;
    box-sizing: border-box;
}

div.baseLogoutIconContainer {
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    user-select: none;
    color: var(--text-main-color);
    background-color: var(--navbar-color);
    display: flex;
    flex-direction: row;
    margin-top: auto;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

div.baseLogoutIconContainer:hover {
    background-color: var(--hover-color);
    color: var(--text-hover-color)
}

.baseLogoutIconStyle {
    color: inherit;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.baseUsernameTooltip {
    background-color: var(--navbar-color);
    color: var(--text-main-color);
    height: 30%;
    width: 30%;
    border-bottom: solid 2px var(--border-color);
    border-bottom-left-radius: 10px;
    position: absolute;
    z-index: 120;
    bottom: 95%;
    left: 85%;
    transform: translateX(-50%) translateY(100%);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.45);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 22px;
}


.baseUserIconStyle {
    color: inherit;
    width: 38px;
    height: 38px;
}



div.baseUserIconContainer {
    color: var(--border-color);
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

div.baseUserIconContainer:hover {
    color: var(--text-main-color);
}

div.baseUserIconContainer.activated {
    color: var(--accent-color);
}

.base-param-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
    border-bottom: 2px solid var(--border-color);
    overflow: hidden;
    text-overflow: ellipsis;
}

.base-param-key {
    min-width: 160px;
    color: var(--text-secondary-color);
    /* font-weight: bold; */

}