div.projects {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.projectsRight {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

div.projectsLeft {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

div.projectsLeft1 {
    width: 100%;
    height: 12%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

div.projectsLeft2 {
    width: 100%;
    height: 88%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    overflow-y: auto;
    border-top: solid 3px var(--border-color);
    border-bottom: solid 3px var(--border-color);
}

div.projectsRight1 {
    width: 100%;
    height: 35%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.projectsRight2 {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

div.changeModalProjects {
    padding: 20px;
    /* width: 385px;
    height: 355px;
    text-align: center;
    background-color: var(--main-background-color); */

}

div.changeModalProjectsParams {
    display: inline-block;
    margin-bottom: 10px;
    word-break: break-word;
}

div.changeModalProjectsParamsValues {
    width: 60%;
    display: flex;
    flex-direction: column;
}

div.changeModalProjectsHeader {
    text-align: center;
    margin: 10px;
}

input.changeModalProjects {
    height: 20px;
    margin: 8px;
    font-size: large;
    width: 400px;
    height: 32px;
    padding: 4px;
    /* border: solid 3px var(--border-color); */
    border-radius: 10px;
}

input.changeModalProjects:disabled {
    background-color: var(--disabled-color);
}

select.changeModalProjects {
    height: 35px;
    margin: 8px;
    font-size: large;
    width: 180px;
    padding: 4px;
    border-radius: 10px;
}

select.changeModalProjects:disabled {
    background-color: var(--disabled-color);
}

div.changeModalProjectsButtons {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
    margin: 10px;
}