.card.project {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    user-select: none;
    padding: 10px;
    margin: 0;
    height: auto;
    width: 100%;
}

p.projectCardStatusFaded {
    box-sizing: border-box;
    display: inline;
    color: var(--text-secondary-color);
}

p.projectCardValueFaded {
    display: inline;
    color: var(--text-secondary-color);
}

div.projectCardBottom {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    overflow-wrap: break-word;
}


div.projectCardHeader {

    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
    display: inline;
}


p.projectCardName {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0px;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

div.projectCardParams {
    display: flex;
    flex-direction: row;
    /* width: 85%; */
    text-align: left;
    display: inline;
}


div.projectCardParamValue2 {
    display: flex;
    box-sizing: content-box;
    align-items: center;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
}