.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: rgba(0, 0, 0, 0.1); */
    background-color: rgba(241, 241, 241, 0.7);
    z-index: 1000;
  }
  
.modal {
    border: solid 4px #afafaf;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    z-index: 1001;
    display: flex;
}
