.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  background-color: var(--main-background-color);
  z-index: 2000;
}

.modal {
  box-sizing: border-box;
  border: solid 4px var(--border-picked-color);
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--main-background-color);
  z-index: 2001;
  width: 90%;
  max-width: 1200px;
  /* max-height: 85vh;
  height: 85vh;
  overflow: auto; */
}

