button {
    border: 0;
    outline: 0;
    font-size: 15px;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;
    width: auto;
    height: auto;
    color: var(--text-button-color);
    background-color: var(--neutral-button-color);
    border-radius: 12px;
    /* border-radius: 1em; */
    padding: 7px 15px 7px 15px;
}

button:active {
    color: var(--text-accent-color);
    box-shadow: 0 2px 2px var(--accent-color), 0 1px 2px var(--text-accent-color);
    transform: scale(0.97) translateY(1px);
}

button.logout {
    height: 100%;
    background-color: var(--navbar-color);
    border-radius: 0;
    font-size: 18px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

button.reservationAdd {
    font-size: medium;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #4CAF50;
    width: 120px;
    height: 40px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
}

button.reservationExit {
    font-size: medium;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #F44336;
    width: 120px;
    height: 40px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
}




/* актуальные */
button.critical {
    background-color: var(--error-background);
    color: var(--error-text-color);
}

button.positive {
    background-color: var(--success-background);
    color: var(--success-text-color);
}

button.acceptModal {
    width: 80px;
    height: 30px;
}

button.login {
    border-radius: 0;
    width: 100%;
    padding: 15px;
    background: var(--accent-color);
    color: var(--text-accent-color);
}

button.sourcesSetType {
    font-size: 18px;
    margin: 4px;
    width: 70%;
    height: auto;
    border-radius: 10px;
    text-transform: none;
}

button.sourcesSetType.picked {

    background: var(--accent-color);
    color: var(--text-accent-color);
}

button.showHint {
    font-size: large;
    font-weight: bold;
    display: inline;
    padding: 5px;
    margin-left: 20px;
    text-transform: uppercase;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-sizing: content-box;
}

button.showHint.picked {
    /* background: var(--accent-color);
    color: var(--text-accent-color); */
    background: var(--info-background);
    color: var(--info-text-color);
}

button:hover {
    background-color: var(--hover-color);
    color: var(--text-hover-color)
}