button.login {
    text-transform: uppercase;
    outline: 0;
    background: #2190ffe3;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    cursor: pointer;
    user-select: none;
}


button.logout {
    all: unset;
    width: 6%;
    border: 0;
    height: 100%;
    margin-left: 10px;
    color: #000;
    cursor: pointer;
    font-size: large;
    display: inline-block;
    text-align: center;
    user-select: none;
}


button.userChange {
    font-family: Arial;
    font-size: medium;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    background: #4caf50;
    width: 150px;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 6px;
}

button.UserAdd {
    font-family: Arial;
    font-size: medium;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #4CAF50;
    width: 150px;
    height: 40px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
}

button.userDelete {
    font-family: Arial;
    font-size: medium;
    margin: 0 auto;
    display: block;
    text-transform: uppercase;
    background: #ff2020;
    width: 150px;
    border: 0;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}

button.reservationAdd {
    font-family: Arial;
    font-size: medium;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #4CAF50;
    width: 120px;
    height: 40px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
}

button.reservationExit {
    font-family: Arial;
    font-size: medium;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #ff2020;
    width: 120px;
    height: 40px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
}


button.projectAccept {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100px;
    height: 30px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
}

button.projectReject {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #ff2020;
    width: 100px;
    height: 30px;
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10px;
}

button.projectClose {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 100px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

button.clearFilter {
    user-select: none;
    font-family: Arial;
    font-size: 16px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 110px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

button.bitbakeClearFilter {
    user-select: none;
    font-family: Arial;
    font-size: 16px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 110px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

button.showHint {
    user-select: none;
    font-family: Arial;
    font-size: 22px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 25px;
    height: 25px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

button.showHintActivated {
    user-select: none;
    font-family: Arial;
    font-size: 22px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #2190ffe3;
    width: 25px;
    height: 25px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

button.componentVulnerabilities {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 240px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

button.componentVulnerabilities-disabled {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    background: #707070;
    width: 220px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

button.logsDownload {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: inline;
    margin: 0 auto;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 100px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
}

button.logsCardClose {
    text-align: center;
    user-select: none;
    font-family: Arial;
    font-size: 16px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    text-transform: uppercase;
    background: #ffbbbb;
    width: 50px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

button.commentsCardClose {
    text-align: center;
    user-select: none;
    font-family: Arial;
    font-size: 14px;
    display: inline;
    margin: 0 auto;
    margin-left: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background: #ffbbbb;
    width: 120px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}


button.createUser {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    /* display: block; */
    margin: 0 auto;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 230px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

button.buildBinary {
    user-select: none;
    font-family: Arial;
    font-size: 15px;
    display: inline;
    margin: 0 auto;
    text-transform: uppercase;
    background: #c0c0c0;
    width: 300px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
}


button.snapshotsProjectType {
    user-select: none;
    font-family: Arial;
    font-size: 18px;
    margin: 12px;
    background: #c0c0c0;
    width: 240px;
    height: 30px;
    border: 0;
    color: #000000;
    cursor: pointer;
    border-radius: 10px;
}

button.snapshotsProjectTypeActive {
    user-select: none;
    font-family: Arial;
    font-size: 18px;
    margin: 12px;
    background: #2190ffe3;
    width: 240px;
    height: 30px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;

}

button:hover {
    background-color: #6e8399e3;
    color: white;
}