div.usersContainer {
    height: 100%;
    width: 70%;

}

div.usersHeader {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

}


div.usersNotes {
    box-sizing: border-box;
    overflow: auto;
    height: 80%;
    width: 100%;
    border-top: solid 3px var(--border-color);
    border-bottom: solid 3px var(--border-color);
}

div.addModalUsers {
    padding: 20px;
    /* width: 385px;
    height: 355px;
    text-align: center;
    background-color: var(--main-background-color); */

}

div.addModalUsersParams {
    display: inline-block;
    margin-bottom: 10px;
    word-break: break-word;
}

div.addModalUsersParamsValues {
    width: 60%;
    display: flex;
    flex-direction: column;
}

div.addModalUsersHeader {
    text-align: center;
    margin: 10px;
}

input.addModalUsers {
    height: 20px;
    margin: 8px;
    font-size: large;
    width: 300px;
    height: 32px;
    padding: 4px;
    /* border: solid 3px var(--border-color); */
    border-radius: 10px;
}

input.addModalUsers:disabled {
    background-color: var(--disabled-color);
}

select.addModalUsers {
    height: 35px;
    margin: 8px;
    font-size: large;
    width: 180px;
    padding: 4px;
    /* border: solid 3px var(--border-color); */
    border-radius: 10px;
    /* background-color: var(--main-background-color); */
}

select.addModalUsers:disabled {
    background-color: var(--disabled-color);
}

div.addModalUsersButtons {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
    margin: 10px;
}