div.logs {
    height: 100%;
    width: 100%;
    display: flex;
}

div.logsLeft {
    width: 65%;
    height: 100%;
}

div.logsRight {
    width: 35%;
    height: 100%;
}

div.logsNotes {
    box-sizing: border-box;
    overflow: auto;
    height: 90%;
    width: 100%;
    border-top: solid 3px var(--border-color);
    border-bottom: solid 3px var(--border-color);
}

div.logsInfo {
    display: block;
    flex-direction: column;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 3px var(--border-color);
}

p.logsCount,
p.logsLevel,
p.logslevels {
    margin: 15px 0 5px 0;
}

div.logsStatus {
    display: inline;
}

div.logsActions {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px
}