.componentCardDT {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border: solid 3px #afafaf;
    border-radius: 10px;
    margin: 20px;
    height: 40px;
}

.componentCardPickedDT {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    border: solid 3px rgb(34, 34, 34);
    border-radius: 10px;
    margin: 20px;
    height: 40px;
    background-color: #e4e4e4;
}
.componentCardDT:hover {
    background-color: #f1f1f1;
    border: solid 3px #474747;
}


p.componentNameDT {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0px;
}

div.componentNameDT {
    display: block;
    width: 100%;
    text-align: left;
    padding-bottom: 5px;
}
div.componentStatusDT {
    display: block;
    width: 100%;
    text-align: left;
}

p.componentStatusFadedDT {
    display: inline;
    color: rgba(0, 0, 0, 0.61);
}